@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.popup-black-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.popup-container {
    width: 500px;
    height: 200px;
    background-color: white;
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 1;
    border-radius: 10px;
}

.popup-heading {
    font-family: "Roboto", sans-serif;
    margin-left: 5%;
    font-weight: 500;
}

.popup-group-name label {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-left: 8%;
}

.group-text {
    padding: 10px 45px;
    border-radius: 20px;
    margin-left: 8%;
    border: 2px solid gray;
}

.popup-colour {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-left: 8%;
    display: flex;
}

.color-option {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    margin-left: 45px;
}

.options {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer; 
}

.popup-create {
    padding: 7px 30px;
    border-radius: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: black;
    color: white;
    margin-top: 2%;
    margin-left: 75%;
    cursor: pointer;
    border: none;
}

@media (max-width: 600px) {
    .popup-black-transparent {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999; 
    }

    .popup-container {
        width: 320px;
        height: 200px;
        background-color: white;
        position: fixed;
        top: 30%;
        left: 10%;
        z-index: 1;
        border-radius: 10px;
    }

    .popup-heading {
        font-size: 18px;
    }

    .popup-group-name {
        display: flex;
  align-items: center;
    }

    .popup-group-name label {
  margin-right: 5px;
  display: flex;
  white-space: nowrap;
    }

    .group-text {
        padding: 5px 0px;
        border-radius: 20px;
        margin-right: 8%;
        border: 2px solid gray;
    }

    .popup-colour {
        display: flex;
        white-space: nowrap;
    }

    .options {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer; 
        margin-top: 10px;
        margin-right: -4px;
    }
    .popup-button {
        margin-right: 50%;
        
    }
    .popup-create {
        width: 200px;
        font-size: 15px;
        margin-left: 70px;
    }
    
}